@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&family=Exo&family=Yeseva+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: auto;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

.header {
    position: relative;

}

.navbar {
    display: hidden;
}