@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Secular+One&family=Ultra&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .2s linear;
    text-decoration: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background-image: linear-gradient(to bottom, #c68642, #d49b5b, #e3b075, #f1c690, #ecdecb);

}

.logo {
    width: 12.5rem;
    height: 12.5rem;
}

.navbar a {
    color: rgb(3, 3, 36);
    font-family: "Julius Sans One";
    font-size: 1.25rem;
    margin: 0 1rem;
}

.navbar a:hover {
    color: green;
}

.header .icons div {
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    background: #eee;
    border-radius: 50%;
    text-align: center;
    font-size: 0.75rem;
    color: green;
    cursor: pointer;
    margin-left: .25rem;
}

.header .icons div:hover {
    color: #fff;
    background: rgb(19, 182, 19);
}

.header .icons div:active {
    color: #fff;
    background: rgb(19, 182, 19);
}

#menu-btn {
    display: none;
}

main .features {
    position: relative;
    width: 100%;
    height: 40rem;
    background-size: contain;
    background-position: center;
}

.features-text {
    position: absolute;
}
