@import url('https://fonts.googleapis.com/css2?family=Charmonman&family=Julius+Sans+One&family=Stalemate&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

    text-decoration: none;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
    background-color: #fff;
}

.header .logo {
    width: 12.5rem;
    height: 12.5rem;
}

.header .navbar a {
    font-family: "Julius Sans One";
    color: rgb(3, 3, 15);
    margin: 0 1rem;
    background: #f1f3f5;
    width: 7.25rem;
    line-height: 7.25rem;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 1rem;
    padding: 0.5rem;
}

.header .navbar a:hover {
    color: #f1f3f5;
    background: rgb(3, 3, 15);
}

.header .icons div {
    background: #f1f3f5;
    width: 2.5rem;
    line-height: 2.5rem;
    font-size: 0.75rem;
    text-align: center;
    margin-left: .25rem;
    border-radius: 50%;
    cursor: pointer;
    color: rgb(3, 3, 15);
}

.header .icons div:hover {
    color: #f1f3f5;
    background: rgb(3, 3, 15);
}

#menu-btn {
    display: none;
}

/* .................About.................  */

main .about {
    position: relative;
    width: 100%;
    background: linear-gradient(rgba(230, 230, 227, 0.993), rgba(145, 231, 133, 0.568)), url(media/about.jpg);
    background-position: center;
    background-size: cover;
}

main .about .about-div {
    width: 60%;
    margin: auto;
    text-align: center;
}

main .about .about-div h1 {
    padding-top: 3.75rem;
    font-family: "Stalemate";
    color: #000;
    font-size: 4rem;
    text-transform: capitalize;
    word-spacing: 0.25rem;
    font-weight: 400;
}

main .about .about-div p {
    font-family: "Charmonman";
    padding-top: 1rem;
    color: #000;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    word-spacing: 5px;
}

main .about .about-div #shop-btn {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    padding: 0.5rem;
    background: rgba(220, 240, 215, 0.9);
    cursor: pointer;
    border-radius: 1rem;
    font-family: "Charmonman";
    text-transform: capitalize;
    font-weight: 200;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

main .about .about-div #shop-btn:hover {
    background: rgb(3, 3, 15);
    color: #f1f3f5;
} 

/* .................Products..................  */

main .products {
    position: relative;
    background: linear-gradient(rgba(145, 231, 133, 0.3), rgba(230, 230, 227, 0.993)), url(media/product.jpg);
    width: 100%;
    background-position: center;
    background-size: contain;
    text-align: center;
}

main .products #more-btn {
    margin-bottom: 3rem;
    font-size: 1.25rem;
    padding: 0.5rem;
    background: rgba(220, 240, 215, 0.9);
    cursor: pointer;
    border-radius: 1rem;
    font-family: "Charmonman";
    text-transform: capitalize;
    font-weight: 200;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

main .products #more-btn:hover {
    background: rgb(3, 3, 15);
    color: #f1f3f5;
}

main .products h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: "Charmonman";
    font-weight: 500;
    font-size: 1.75rem;
    text-decoration: underline double;
}

main .products .prod-grid {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}



.prod-child {
    padding: 1rem 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.prod-child img {
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    /* box-shadow: 0 0 20px 0px rgba(230, 230, 227, 0.993); */
}

.prod-child h3 {
    font-family: "Charmonman";
    font-weight: 300;
    text-decoration: underline;
    font-size: 1.3rem;
}

.prod-child p {
    font-size: 1.5rem;
    font-family: "Charmonman";
    font-weight: 700;
    margin-top: 0.5rem;
}

.buy-btn {
    background: #f1f3f5;
    width: 2.5rem;
    line-height: 2.5rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    color: rgb(3, 3, 15);
    margin-top: 0.5rem;
}

.buy-btn:hover {
    color: #f1f3f5;
    background-color: rgb(3, 3, 15);
}

/* .............hr............... */

.hr1 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(3, 3, 15);
}

/* ..............Categories.......... */

.categories {
    position: relative;
    width: 100%;
    text-align: center;
    background: #e1e3f0;
    background: linear-gradient(rgba(230, 230, 227, 0.993), rgba(145, 231, 133, 0.3)), url(media/categories.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.categories h1 {
    margin-top: 1rem;
    text-align: center;
    font-family: "Charmonman";
    font-weight: 500;
    font-size: 1.75rem;
    text-decoration: underline double;
}

.cat-grid {
    display: grid;
    margin-top: 1.5rem;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}

.cat-child {
    padding: 0.5rem 1rem;
    text-align: center;
    margin-bottom: 3rem;
}

.cat-child img {
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.cat-btn {
    color: rgb(3, 3, 15);
    font-size: 1.25rem;
    padding: 0.5rem;
    background: rgba(220, 240, 215, 0.9);
    cursor: pointer;
    border-radius: 1rem;
    font-family: "Charmonman";
    text-transform: capitalize;
    font-weight: 200;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.cat-btn:hover {
    color: #f1f3f5;
    background-color: rgb(3, 3, 15);
}

/* ..........Footer........ */

footer {
    background: #fff;
}

.foot-grid {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: space-around;
    display: grid;
    grid-template-columns: auto auto auto;
}

.fchild {
    text-align: left;
    font-family: "Julius Sans One";
}

#fchildx {
    margin-top: 1.5rem;
}

.fchild p {
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.fchild a {
    display: block;
    margin-bottom: 1rem;
    color: rgb(3, 3, 15);
}



footer h3 {
    text-align: center;
    font-family: "Julius Sans One";
    font-size: 1rem;
    font-weight: 200;
    background: inherit;
    margin-bottom: 1rem;
}

/* .........media queries...... */

